.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers */
}

/* Carousel fixes */
.embla {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.embla__container {
  display: flex;
  height: 100%;
  width: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
}

/* SVG fixes */
svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Hero carousel buttons */
.embla__button {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.embla__button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Add infinite scroller animation */
@keyframes scroll {
  to {
    transform: translateX(calc(-50%));
  }
}

.infinite-scroll-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.infinite-scroll-container {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* When animation pauses on hover */
.infinite-scroll-container:hover {
  animation-play-state: paused;
}

/* Override default carousel styles for infinite scroll */
.infinite-scroll-wrapper .embla__container {
  display: flex;
  animation: scroll 30s linear infinite;
}

/* Override default carousel next/prev buttons */
.infinite-scroll-wrapper .embla__button {
  display: none;
}